html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  overscroll-behavior: none;
}

body {
  background: light-dark(#fff, var(--mantine-color-dark-7));
  color: light-dark(#111, var(--mantine-color-dark-0));
  font-family: var(--mantine-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
}
